.input-button {
    margin-top: 25px;
    width: 40%;
    padding: 15px 25px 15px 25px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
    align-self: center;
    background-color: rgb(232, 234, 241);
}

.input-button:hover {
    background-color: rgb(249, 250, 255);
}

.input-button:active {
    background-color: rgb(201, 203, 210);
}